body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

h1 {
    color: #1da1f2;
}

form {
    margin-bottom: 20px;
}

#tweetInput {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px; /* Añadido para espacio entre input y botón */
}

button {
    background-color: #1da1f2;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px; /* Añadido para espacio entre input y botón */
}

button:hover {
    background-color: #0d91e7;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deleteBtn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.deleteBtn:hover {
    background-color: #c0392b;
}

#resetBtn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

#resetBtn:hover {
    background-color: #2980b9;
}

.error-message {
    display: none;
    background-color: #e74c3c;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    position: absolute;
    /* left: 50%; */
    transform: translateX(-50%);
    transform: translateY(500%);
}
